/*
 * ======================================================================= ЖУРНАЛ ПРОДАЖ ===============================================================
*/
#order_status_chosen .chosen-results li:hover{color:#ccc; background-color: #3875d7!important;}
.order_crm{width:100%; margin:20px 0;}
.order_closed{ text-transform:uppercase; }

#usam_order_products td{overflow:visible;}
#usam_order_products .order_discount_name{font-weight:600; font-size:15px; border-bottom:2px solid #32373c; padding:0 5px; margin: 5px 0}
#usam_order_products .order_discount{display:inline-block; background:var(--main-color); margin:5px 0}
#usam_order_products .order_discount a{color:#000; font-style: italic;}
#usam_order_products .order_discount a:hover{text-decoration:underline}
#usam_order_products .order_discount_rules{display:flex; flex-direction: column;}
#usam_order_products .order_discount_rules >*{padding:5px}
#usam_order_products .delete_item{text-align:center;}


#usam_order_products .table_products .column-quantity{width:120px; }
#usam_order_products .table_products .column-old_price{width:120px;}
#usam_order_products .table_products .column-discount{width:150px; }
#usam_order_products .table_products .column-price{width:100px; }
#usam_order_products .table_products .column-total{width:180px; }
#usam_order_products .table_products tfoot td{border-width:0;}
#usam_order_products .table_products tfoot .usam_order_final_basket th{border-bottom:2px solid #32373c;}
#usam_order_products .table_products .product_order_discount{margin-top:5px; width:100%;}
#usam_order_products .table_products .quantity_product{display:-webkit-box; display:-ms-flexbox; display:flex; align-items:center;}
#usam_order_products .table_products .quantity_product input[type="text"]{width:100px;}
.usam_box table td select.chzn-select-nosearch{width:100%;}

.item_add_box{background:#FFFFFF;border:1px #d3d3d3 solid; margin-top:15px;}
.item_add_box table{width:100%;}
.item_add_box thead td{border-bottom:1px #d3d3d3 solid;}
.item_add_box td{padding:10px;}

.button_box{margin-top:15px}
#usam_thiss_links a{text-decoration:none;}
.delivery_services_disabled{color:#ccc;}

#usam_payment_history #payment_history_table .date_payed{width:200px;}
#usam_payment_history #payment_history_table td.transactid{width:120px;}
#usam_payment_history #payment_history_table td.transactid input{width:100%;}
#usam_payment_history #payment_history_table td.gateway{width:120px;}
#usam_payment_history #payment_history_table td.gateway select{width:100%;}
#usam_payment_history #payment_history_table td.sum{width:120px;}
#usam_payment_history #payment_history_table td.sum input{width:100%;}

.form_readiness{width:106px; border-style:solid; border-radius:3px; border-width: 1px;}
.form_readiness__percent{text-align:center; padding:3px; color:#fff}
.form_readiness.readiness_green{border-color:#e6f0c0;}
.form_readiness.readiness_green .form_readiness__percent{background-color:#e6f0c0; color:#4b711d;}
.form_readiness.readiness_yellow{border-color:#faeac0;}
.form_readiness.readiness_yellow .form_readiness__percent{background-color:#faeac0; color:#967012}
.form_readiness.readiness_read{border-color:rgb(230 21 21 / 40%)}
.form_readiness.readiness_read .form_readiness__percent{background-color:rgb(230 21 21 / 40%); color:#a42727;}

textarea.cancellation_reason{width:100%;padding:5px}
.order_product_status .item_status{white-space:normal}
@media only screen and (max-width:1150px)
{
	.add_products{flex-direction:column;}
	.add_products >*{width:100%}
}
@media only screen and (min-width:1023px)
{
	.dropdown_area{overflow: hidden; height: 18px; position:relative;}
	.dropdown_area:hover{overflow:inherit;}
	.dropdown_area:hover a{padding:0 5px 5px 5px; background-color:#fff; position:absolute; left:-5px; border-color:#e0e0e0; border-style:solid; border-width:1px; border-radius:3px;}
	.dropdown_area a{z-index:1; display:block; border:1px solid #fff;}
}