.popup_content {padding:10px 10px 40px 10px;}

#usam_product_filter{width:100%; min-width: 100px; margin-right:0}
#usam_product_filter .filter_column{width:100%; float:none}

.wp-list-table td, 
.wp-list-table th {padding: 8px 10px!important; display: table-cell!important;}
.wp-list-table td:before{display: none!important;}
.wp-list-table .toggle-row{display: none!important;}
.wp-list-table thead th.column-primary{width:auto!important;}


#results{height:400px; margin:20px 0;}
#results .loading{margin:10px 0 0 0}
#results li{border:1px solid #ddd; height:38px; margin:0 0 10px 0; padding:0; background-color:#FFF; position:relative}
#results .column-checkbox{width:38px; text-align:center; line-height:35px;}
#results .column-checkbox input[type=checkbox] {width:16px; height:16px;}
#results .checkbox{cursor:pointer; margin:10px 0 0 0}
#results .column-thumbnail{width:60px;}
#results .column-sku{width:60px;}
#results label{margin:0 0 0 0;}
#results li.selected{border-color:#0074A2;cursor:pointer}
#results li.selected label{color:#0074A2}
#results hr{border:0 none;border-top:1px solid #dbdbdb;height:1px;line-height:1px}
#basic .filters-box{float:left;margin:0}
.filters-box #post_type{width:120px}
.filters-box .post_category{width:160px}
.filters-box #post_status{width:140px}
#basic .search-box{float:right;margin:0}
input#search{width:160px font-size:13px; line-height:15px; padding:3px 5px;}
#search-submit{font-size:13px;margin:0 14px 0 0;padding:1px 10px}
#toggle-advanced{position:relative;right:10px;top:0}
#advanced{padding:0 0 50px 0;display:none}
#advanced div.block{padding:0.8em 0 0.8em 1em;margin:0}
#advanced div.block p{margin:0 0 5px 0;padding:0}
#advanced label{float:left;width:200px;padding:0}
#advanced div.block p label{float:none}
#image_width_slider{float:left; width:252px; margin:15px 0 0 5px;height:0px;position:relative; cursor:pointer;border:2px solid #808080;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#slider_handle{width:16px;height:16px;cursor:pointer;position:absolute; top:-9px;margin:0 0 0 -2px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background-color:#fff;box-shadow:inset 0px 0px 2px rgba(0,0,0,0.1);border:1px solid #ccc}
#slider_info{float:left;font-weight:bold; margin:7px}
#advanced label span.label{float:none; display:block; font-size:10px; font-style:italic;line-height:1.2em;width:120px}
#advanced label.radio{float:left;width:auto;margin:0 9px 0 0}
#advanced label.radio input{margin:0 2px 0 0}
#advanced div.group{float:left}
.cpt-type small{color:#888}
.modcoder_excolor_clrbox{width:17px;height:17px;margin:4px 0 0 0;color:transparent;padding:0}
.clearfix:after { content:"."; display:block;  height:0;  clear:both; visibility:hidden;}
.footer_panel{border-top:1px solid #dbdbdb; background-color:#FFFFFF; bottom:0; left:0; position:fixed; width:100%; padding:0}
.footer_panel .submit-box {overflow:hidden; padding:10px; margin:0; text-align:right;}
.footer_panel .submit-box #back-selection { display:none;}

.usam_editor_settings h2{text-align:center;}

.table_fields{width:100%; margin-bottom:20px}
.table_fields_column2 td{padding:5px 0}

.usam_form_field_title{font-size:14px;}

.table_fields_column2{width:100%; background-color:#FFFFFF;}
.table_fields_column2 td{width:50%; border:1px solid #ccc; padding:5px}
.table_fields_column2 h4{text-align:center; margin:0px}
.usam_form_field_radio_option,
.usam_form_field_checkbox_option {display:inline-block; vertical-align:top; margin-right:5px; line-height:30px;}


.popup_button .usam_button_replace_all_styles{float:left; }
.popup_button .usam_done_editing{float:right; }
.popup_button .usam_field_button_text,
.popup_button .usam_field_button_url {width:100%;}


.iris-picker{display:block;position:relative}
.iris-picker,.iris-picker *{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input+.iris-picker{margin-top:4px}.iris-error{background-color:#ffafaf}.iris-border{border-radius:3px;border:1px solid #aaa;width:200px;background-color:#fff}.iris-picker-inner{position:absolute;top:0;right:0;left:0;bottom:0}.iris-border .iris-picker-inner{top:10px;right:10px;left:10px;bottom:10px}.iris-picker .iris-square-inner{position:absolute;left:0;right:0;top:0;bottom:0}.iris-picker .iris-square,.iris-picker .iris-slider,.iris-picker .iris-square-inner,.iris-picker .iris-palette{border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.4);height:100%;width:12.5%;float:left;margin-right:5%}.iris-only-strip .iris-slider{width:100%}.iris-picker .iris-square{width:76%;margin-right:10%;position:relative}.iris-only-strip .iris-square{display:none}.iris-picker .iris-square-inner{width:auto;margin:0}.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-square-inner,.iris-ie-9 .iris-palette{box-shadow:none;border-radius:0}.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-palette{outline:1px solid rgba(0,0,0,.1)}.iris-ie-lt9 .iris-square,.iris-ie-lt9 .iris-slider,.iris-ie-lt9 .iris-square-inner,.iris-ie-lt9 .iris-palette{outline:1px solid #aaa}.iris-ie-lt9 .iris-square .ui-slider-handle{outline:1px solid #aaa;background-color:#fff;-ms-filter:"alpha(Opacity=30)"}.iris-ie-lt9 .iris-square .iris-square-handle{background:0 0;border:3px solid #fff;-ms-filter:"alpha(Opacity=50)"}.iris-picker .iris-strip{margin-right:0;position:relative}.iris-picker .iris-strip .ui-slider-handle{position:absolute;background:0 0;margin:0;right:-3px;left:-3px;border:4px solid #aaa;border-width:4px 3px;width:auto;height:6px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.2);opacity:.9;z-index:5;cursor:ns-resize}.iris-strip-horiz .iris-strip .ui-slider-handle{right:auto;left:auto;bottom:-3px;top:-3px;height:auto;width:6px;cursor:ew-resize}.iris-strip .ui-slider-handle:before{content:" ";position:absolute;left:-2px;right:-2px;top:-3px;bottom:-3px;border:2px solid #fff;border-radius:3px}.iris-picker .iris-slider-offset{position:absolute;top:11px;left:0;right:0;bottom:-3px;width:auto;height:auto;background:transparent;border:0;border-radius:0}.iris-strip-horiz .iris-slider-offset{top:0;bottom:0;right:11px;left:-3px}.iris-picker .iris-square-handle{background:transparent;border:5px solid #aaa;border-radius:50%;border-color:rgba(128,128,128,.5);box-shadow:none;width:12px;height:12px;position:absolute;left:-10px;top:-10px;cursor:move;opacity:1;z-index:10}.iris-picker .ui-state-focus .iris-square-handle{opacity:.8}.iris-picker .iris-square-handle:hover{border-color:#999}.iris-picker .iris-square-value:focus .iris-square-handle{box-shadow:0 0 2px rgba(0,0,0,.75);opacity:.8}.iris-picker .iris-square-handle:hover::after{border-color:#fff}.iris-picker .iris-square-handle::after{position:absolute;bottom:-4px;right:-4px;left:-4px;top:-4px;border:3px solid #f9f9f9;border-color:rgba(255,255,255,.8);border-radius:50%;content:" "}.iris-picker .iris-square-value{width:8px;height:8px;position:absolute}.iris-ie-lt9 .iris-square-value,.iris-mozilla .iris-square-value{width:1px;height:1px}.iris-palette-container{position:absolute;bottom:0;left:0;margin:0;padding:0}.iris-border .iris-palette-container{left:10px;bottom:10px}.iris-picker .iris-palette{margin:0;cursor:pointer}.iris-square-handle,.ui-slider-handle{border:0;outline:0}